<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="content">

		<form th:object="${sample}" th:action="@{/home}" method="post">
			<div class="form-group">
				<label for="nombre">Nombre</label>
				<input th:field="*{name}" type="text" class="form-control" id="nombre" ><p class="errors" th:if="${#fields.hasErrors('name')}" th:text="'Escriba el nombre'" ></p>
			</div>
			<div class="form-group">
				<label for="edad">Edad</label>
				<input type="text" th:field="*{age}" class="form-control" id="age" > <p class="errors" th:if="${#fields.hasErrors('age')}" th:text="'Escriba la edad'"></p>
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>

	</div>
</body>
</html>